body {
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    width: 375px;
    min-height: 100vh;
    background-color: #000;

    display: flex;
    justify-content: center;
}
